<h1>@ViewBag.title</h1>

<form action="/Search/Results">
    <h2>Search by:</h2>

    <p>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
            <span>
                <input type="radio"
                       name="searchType"
                       id="@column.Key"
                       value="@column.Key"
                       checked="@column.Key == 'all''" />
                <label for="@column.Key">@column.Value</label>
            </span>
        }
    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
</form>

<hr />

@if (ViewBag.jobs != null)
{

    <h3>@ViewBag.jobs.Count Result(s)</h3>
    //name,employer,location,position type,core competency
    // TODO #2 - Loop over jobs dictionary and display all job fields
    @foreach (Dictionary<string,string> dict in ViewBag.jobs)
    {
<table>
    <tr>
        <td>Name</td>
        <td>@dict["name"]</td>
    </tr>
    <tr>
        <td>Employer</td>
        <td>@dict["employer"]</td>
    </tr>
    <tr>
        <td>Location</td>
        <td>@dict["location"]</td>
    </tr>
    <tr>
        <td>Position Type</td>
        <td>@dict["location"]</td>
    </tr>
    <tr>
        <td>Core Competency</td>
        <td>@dict["core competency"]</td>
    </tr>
</table>
    }
}